<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thespeakers_studio.thespeakersstudioapp">

    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.PresentationMainActivity"
            android:label="@string/saved_presentations"
            android:theme="@style/AppTheme.WithNavDrawer">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.EditPresentationActivity"
            android:theme="@style/AppTheme.Inverted.EditPresentation"
            android:parentActivityName=".activity.PresentationMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PresentationMainActivity" />
        </activity>
        <activity
            android:name=".activity.PresentationPromptListActivity"
            android:theme="@style/AppTheme.Inverted"
            android:parentActivityName=".activity.EditPresentationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.EditPresentationActivity" />
        </activity>
        <activity
            android:name=".activity.OutlineActivity"
            android:label="@string/outline"
            android:theme="@style/AppTheme.Outline"
            android:parentActivityName=".activity.PresentationMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PresentationMainActivity" />
        </activity>

        <activity
            android:name=".activity.PracticeSetupActivity"
            android:label="@string/practice_presentation"
            android:theme="@style/AppTheme.WithNavDrawer.Inverted"
            android:parentActivityName=".activity.PresentationMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PresentationMainActivity" />
        </activity>

        <activity
            android:name=".activity.StoriesMainActivity"
            android:label="@string/stories"
            android:theme="@style/AppTheme.WithNavDrawer"
            android:parentActivityName=".activity.PresentationMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PresentationMainActivity" />
        </activity>
        <activity
            android:name=".activity.CuriousActivity"
            android:label="@string/curious"
            android:theme="@style/AppTheme.WithNavDrawer"
            android:parentActivityName=".activity.PresentationMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PresentationMainActivity" />
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/action_settings"
            android:theme="@style/AppTheme.Settings"
            android:parentActivityName=".activity.PresentationMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PresentationMainActivity" />
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/about"
            android:theme="@style/AppTheme.WithNavDrawer"
            android:parentActivityName=".activity.PresentationMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PresentationMainActivity" />
        </activity>

        <service android:name=".service.TimerService"
            android:process=":timerprocess"/>

        <!-- desktop -->
        <!--
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBGR6wo_gS7l5y8_ZfnZQG0wqKRlIrvM5w" />
            -->

        <!-- surface -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCGhEcr6eWY7Nn5RhIBAF5l3RXArqnOuLo" />

    </application>

</manifest>